.app-footer {
  bottom: 0,
  background-color: #f8f9fa;
  padding: 16px 0;
  text-align: center;
  border-top: 1px solid #e5e5e5;
  width: 100%;
  margin-top: 30px;
}

.footer-content p {
  margin: 0;
  font-size: 14px;
  color: #6c757d;
}
